# Ignore dependencies
node_modules

# Ignore build output
dist

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore editor config files
.vscode

# Optional: Ignore Git metadata
.git
.gitignore

npm-debug.log
